In [1]:
# Import the dependencies.
import pandas as pd
import requests
import gmaps
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df = city_data_df.loc[city_data_df["Max Temp"] >= 0]
city_data_df.head()

,City_ID,City,Country,Date,Lng,Lat,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-02-02 23:25:19,168.8643,-46.1927,58.48,92,100,3.98
1,1,Mar Del Plata,AR,2022-02-02 23:25:19,-57.5575,-38.0023,78.10,61,75,4.61
2,2,Wilmington,US,2022-02-02 23:21:57,-77.9447,34.2257,55.90,81,100,4.61
3,3,Perry,US,2022-02-02 23:21:28,-83.1999,37.2506,52.93,84,100,7.11
4,4,Ushuaia,AR,2022-02-02 23:25:20,-68.3000,-54.8000,44.26,61,75,24.16

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lng           float64
Lat           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
city_data_df.describe()

,City_ID,Lng,Lat,Max Temp,Humidity,Cloudiness,Wind Speed
count,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000
mean,284.801556,15.785386,15.325107,56.650934,73.301556,62.227626,8.415117
std,165.037037,88.912889,31.185118,23.619614,20.778337,38.580625,6.553369
min,0.000000,-175.200000,-54.800000,0.460000,9.000000,0.000000,0.000000
25%,141.250000,-62.864125,-9.856700,39.137500,62.000000,20.000000,3.565000
50%,287.500000,16.145800,19.971700,65.390000,78.000000,75.000000,6.820000
75%,427.750000,98.880375,40.566725,76.820000,89.750000,100.000000,11.500000
max,569.000000,179.316700,78.218600,89.710000,100.000000,100.000000,40.260000

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [8]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lng,Lat,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mar Del Plata,AR,2022-02-02 23:25:19,-57.5575,-38.0023,78.10,61,75,4.61
5,5,Puerto Ayora,EC,2022-02-02 23:25:20,-90.3518,-0.7393,76.55,90,31,4.00
9,9,Luderitz,NaN,2022-02-02 23:21:40,15.1594,-26.6481,68.27,78,69,1.88
10,10,Ponta Do Sol,PT,2022-02-02 23:25:21,-17.1000,32.6667,66.70,77,100,6.08
12,12,Candolim,IN,2022-02-02 23:25:21,73.7626,15.5181,73.40,88,0,6.91
13,13,Port Elizabeth,ZA,2022-02-02 23:25:22,25.5701,-33.9180,71.10,94,75,10.36
17,17,Rikitea,PF,2022-02-02 23:23:12,-134.9692,-23.1203,78.66,72,100,7.27
18,18,Hilo,US,2022-02-02 23:25:15,-155.0900,19.7297,80.33,70,75,12.66
20,20,Namibe,AO,2022-02-02 23:25:24,12.1522,-15.1961,72.50,71,84,10.76
21,21,East London,ZA,2022-02-02 23:25:24,27.9116,-33.0153,74.53,94,67,12.88

In [9]:
preferred_cities_df.count()

City_ID       260
City          260
Country       256
Date          260
Lng           260
Lat           260
Max Temp      260
Humidity      260
Cloudiness    260
Wind Speed    260
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1    Mar Del Plata      AR     78.10 -38.0023  -57.5575
5     Puerto Ayora      EC     76.55  -0.7393  -90.3518
9         Luderitz     NaN     68.27 -26.6481   15.1594
10    Ponta Do Sol      PT     66.70  32.6667  -17.1000
12        Candolim      IN     73.40  15.5181   73.7626
13  Port Elizabeth      ZA     71.10 -33.9180   25.5701
17         Rikitea      PF     78.66 -23.1203 -134.9692
18            Hilo      US     80.33  19.7297 -155.0900
20          Namibe      AO     72.50 -15.1961   12.1522
21     East London      ZA     74.53 -33.0153   27.9116

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [12]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))